[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
emulator = { path = "../emulator" }
tui = { path = "../tui" }
assembler = { path = "../assembler" }
flisp-core = { path = "../flisp-core/" }
